* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  max-width: 700px;
  width: 100%;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title {
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container form .group-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form .group-details .form-group {
  margin: 20px 0 12px 0;
  width: calc(50% - 20px); /* Ajustado para centrar correctamente */
}

.group-details .form-group .details {
  font-weight: 500;
  margin-bottom: 5px;
}

.group-details .form-group input,
.group-details .form-group select,
.group-details .form-group button {
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
}

.group-details .form-group input:focus,
.group-details .form-group input:valid,
.group-details .form-group select:focus,
.group-details .form-group button:focus {
  border-color: #9b59b6;
}

.group-details .form-group button {
  padding: 0;
  text-align: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.group-details .form-group button:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

form .button {
  height: 45px;
  margin: 45px 0;
}

form .button input {
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  letter-spacing: 1px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  transition: background 0.3s ease;
}

form .button input:hover {
  background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media (max-width: 584px) {
  .container {
    max-width: 100%;
  }

  form .group-details .form-group {
    width: 100%;
  }

  .container form .group-details {
    max-height: 300px;
    overflow-y: scroll;
  }

  .group-details::-webkit-scrollbar {
    width: 0;
  }

  .error-message {
    color: red;
    font-size: 12px;
    margin-top: 5px;
  }

}
