  <!DOCTYPE html>
  <html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Password</title>
  </head>

  <body>

    <div class="container">
      <div class="title">Recuperación de contraseña</div>
      <form method="post">
        <div class="group-details">
          <!-- Campo para ingresar el ID del usuario -->
          <div class="form-group">
            <label for="idUsuario" class="details">Usuario</label>
            <input [(ngModel)]="idusuario" type="text" placeholder="Ingrese su usuario" id="idUsuario" name="idUsuario" required>
          </div>

          <!-- Botón para buscar el usuario -->
          <div class="form-group respuesta-group">
            <label for="buscar" class="details">.</label>
            <button type="button" id="buscar" name="buscar" (click)="buscarUsuarioPorId()">Buscar</button>
          </div>

          <!-- Mostrar la pregunta si se encuentra un usuario -->
          <div *ngIf="usuario.length > 0" class="form-group respuesta-group">
            <label for="pregunta" class="details">Pregunta</label>
            <select [(ngModel)]="nuevoUsuario.pregunta" id="pregunta" name="pregunta">
              <option *ngFor="let pregunta of preguntas" [value]="pregunta">{{ pregunta }}</option>
            </select>
          </div>


          <!-- Campo para ingresar la respuesta a la pregunta -->
          <div *ngIf="usuario.length > 0" class="form-group respuesta-group">
            <label for="respuesta" class="details">Respuesta</label>
            <input [(ngModel)]="nuevoUsuario.respuesta" type="text" placeholder="Ingrese su respuesta" id="respuesta" name="respuesta" required>
            <button type="button" (click)="verificarRespuesta()">Verificar Respuesta</button>
          </div>

          <!-- Campos para ingresar y confirmar la nueva contraseña si la respuesta es correcta -->
          <div *ngIf="respuestaCorrecta" class="form-group">
            <label for="nuevaPass" class="details">Nueva contraseña</label>
            <input [(ngModel)]="nuevoUsuario.nuevaPassword" type="password" placeholder="Ingrese su nueva contraseña" id="nuevaPass" name="nuevaPass" (blur)="validarPassword()" required>

            <!-- Mensaje de error si la contraseña no es válida -->
            <div *ngIf="!esPasswordValido" class="error-message">
              La contraseña debe tener entre 8 y 20 caracteres, e incluir al menos una letra mayúscula, una minúscula, un número y un símbolo.
            </div>
          </div>
          <div *ngIf="respuestaCorrecta" class="form-group">
            <label for="repNuevaPass" class="details">Confirme su contraseña</label>
            <input [(ngModel)]="nuevoUsuario.repNuevaPassword" type="password" placeholder="Confirme su contraseña" id="repNuevaPass" name="repNuevaPass" required>

            <!-- Mensaje de error si las contraseñas no coinciden -->
            <div *ngIf="nuevaPasswordNoCoincide" class="error-message">
              Las contraseñas no coinciden.
            </div>
          </div>
        </div>

        <!-- Botón para actualizar la contraseña si todo es correcto -->
        <div *ngIf="respuestaCorrecta" class="button">
          <input type="button" value="Actualizar" (click)="actualizarPassword()">
        </div>
      </form>
    </div>

  </body>

  </html>
