<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tabla status cuenta</title>
  <link rel="stylesheet" href="tabla-status-cuenta.component.css">
</head>

<body>

  <div class="container-table">
    <div class="row">
      <nav class="navbar">
        <ul class="nav nav-tabs">
            <li class="nav-item">
            <a class="nav-link " href="/statuscuenta"><b>Registrar nuevo status cuenta</b></a>
          </li>
        </ul>
    </nav>
      <div class="col-md-12">
        <table class="table">
          <thead>
            <nav>
              <a href="/tablasaldocuenta"><b>Regresar</b></a>
            </nav>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Actualizar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let statuscuenta of statuscuenta">
              <td>{{ statuscuenta.idstatuscuenta }}</td>
              <td>{{ statuscuenta.nombre }}</td>
              <td>
                <button type="button" class="btn btn-warning" (click)="actualizar()">Actualizar</button>
              </td>
              <td>
                <button type="button" class="btn btn-danger" (click)="eliminar(statuscuenta.idstatuscuenta)">Eliminar</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <nav>
      <a href="/tablasaldocuenta"><b>Regresar</b></a>
    </nav>
  </div>

</body>

</html>
